<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <!--ADO.NET数据提供程序配置-->
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <!--OleDb方式连接Access2007-->
    <!--<add name="SqlHelperConnName" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.ACE.OleDb.12.0;Data Source=App_Data\Northwind.2003.mdb" />-->

    <!--SQLServer API方式连接SQLServer-->
    <add name="SqlHelperConnName" providerName="System.Data.SqlClient" connectionString="Server=Mqd-PC\MSSQL2008;database=Northwind;uid=sa;pwd=hytgku548098" />

    <!--ODBC方式连接SQLServer-->
    <!--<add name="SqlHelperConnName" providerName="System.Data.ODBC" connectionString="DRIVER={SQL Server}; SERVER=Mqd-PC\MSSQL2008; DATABASE=Northwind; USER=sa; PASSWORD=hytgku548098;" />-->

    <!--OleDb方式连接SQLServer2008-->
    <!--<add name="SqlHelperConnName" providerName="System.Data.OleDb" connectionString="Provider=SQLOLEDB;Server=Mqd-PC\MSSQL2008;Initial Catalog=Northwind;User ID=sa;Password=hytgku548098" />-->

    <!--ODBC方式连接Mysql-->
    <!--<add name="SqlHelperConnName" providerName="System.Data.ODBC" connectionString="Driver={MySQL ODBC 3.51 Driver};Server=127.0.0.1;Database=Northwind;User=root; Password=123456;Option=3;" />-->

    <!--MySqlAPI方式连接MySqk-->
    <!--<add name="SqlHelperConnName" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;database=Northwind;uid=root;pwd=123456;" />-->
  </connectionStrings>
</configuration>